@import "tailwindcss";

@theme {
  /* カスタムカラーの設定 */
  --color-primary: rgb(251, 230, 167);
  --color-secondary: rgb(255, 245, 235);
}

/* カスタムスタイル */
body {
  margin: 0;
  background: linear-gradient(180deg, var(--color-primary), var(--color-secondary));
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  min-height: 100vh;
  width: 100%;
}

